body {
  margin: 10px;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
}

input {
    width: 60px;
    padding: 4px 4px;
    margin: 4px 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 4px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

div {
    align: center;
}

canvas {
    margin: 10px 0;
}
